.productsformdiv {
    width: 80%;
    margin: 5px;
    padding-bottom: 15px;
    /* ΣΚΙΑ */
    -moz-box-shadow: 2px 2px 2px #333;
    -webkit-box-shadow: 2px 2px 2px #333;
    box-shadow: 2px 2px 2px #333;
    background-color: #dfeff0;
}
.productsformdiv:hover
{
    background-color: #e5eff5;
}
button.updateButton {
    background-color: #50a9e0;
    color: #ffffff;
    position: relative;
    left: 70%;
    width: 100px;
    border:1px solid #50a9e0;
    box-shadow: 2px 4px #888888; 

    
}
button.updateButton:hover {
  box-shadow: 3px 6px #aaaaaa;
  background-color: #3355e5;
  font-weight: bold;
}
button.deleteButton {
    background-color: #e55555;
    color: #ffffff;
    position: relative;
    left: 70%;
    width: 100px;
    border:1px solid #e55555;
    box-shadow: 2px 4px #888888;
    
    
}
button.deleteButton:hover {
  box-shadow: 3px 6px #aaaaaa;
  background-color: #e53333;
  font-weight: bold;
}
.productsformdiv form fieldset {
    border: 0px;
}
button.insertButton {
    background-color: #50a9e0;
    color: #ffffff;
    position: relative;
    left: 70%;
    width: 100px;
    border:1px solid #50a9e0;
    box-shadow: 2px 4px #888888; 

    
}