body {
	background-color:#DFEFF0;
}

div {
	border:0px solid #000000;
	background-color:#DFEFF0;
}

/* Î•Î¾Ï‰Ï„ÎµÏÎ¹ÎºÏŒ div*/
#main {
	width:800px;
	margin:auto;
}

/* header div*/
#header {
	min-height:100px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#logo {
	width: 20%;

}
#center {
	width: 50%;
}
#logdialog {
	width: 30%;
	font-size: 0.8em;
}
#logdialog fieldset {
	padding: 5px;
	margin: 0;
	width: auto;
	border: 1px solid #888;
}
#logdialog label {
	width: auto;
	display: inline;
	margin-right: 5px;
}
#logdialog input {
	width: 80px;
	margin-bottom: 3px;
}
#logdialog button {
	font-size: 0.9em;
	padding: 1px 5px;
}
#header h1 {
	font-size:1.5em;
	font-weight:bold;
	text-align:center;
	color:#444DBF;
}

/* footer div*/
#footer {
	height:100px;
}

#horizontal {
	background-color:#A4BDBF;
	padding:0 5px 0 5px;
}

/* ÎœÎµÏƒÎ±Î¯Î¿ div*/
#middle {
	background-color:#A4BDBF;	
	margin:0px;
	padding:0px;
       overflow:hidden; 
}

/* Î¤Î± 2 ÎµÏ€ÏŒÎ¼ÎµÎ½Î± divs Î²ÏÎ¯ÏƒÎºÎ¿Î½Ï„Î±Î¹ Î¼Î­ÏƒÎ± ÏƒÏ„Î¿ Î¼ÎµÏƒÎ±Î¯Î¿ div */

/* ÎœÎ­ÏƒÎ± ÏƒÏ„Î¿ Î¼ÎµÏƒÎ±Î¯Î¿ ÎºÎ±Î¹ Î²ÏÎ¯ÏƒÎºÎµÏ„Î±Î¹ ÏƒÏ„Î± Î±ÏÎ¹ÏƒÏ„ÎµÏÎ¬ Î¼Îµ Ï€Î»Î¬Ï„Î¿Ï‚ 30% Ï„Î¿Ï… Î¼ÎµÏƒÎ±Î¯Î¿Ï… */
#menu {
	float:left;  
	width:190px;
	vertical-align:top;
	background-color:#A4BDBF;
	margin:0px;
	border:0px;
	padding:0px;
      
}
/* ÎœÎ­ÏƒÎ± ÏƒÏ„Î¿ Î¼ÎµÏƒÎ±Î¯Î¿ ÎºÎ±Î¹ Î²ÏÎ¯ÏƒÎºÎµÏ„Î±Î¹ ÏƒÏ„Î± Î´ÎµÎ¾Î¹Î¬ Î¼Îµ Ï€Î»Î¬Ï„Î¿Ï‚ 68% Ï„Î¿Ï… Î¼ÎµÏƒÎ±Î¯Î¿Ï… */
#content {
	float:left;
	width:598px;
	vertical-align:top;
	background-color:#DADFDF;
	margin:0px;
	border:0px;
	padding:0 4px 0 4px;
	min-height:400px;
        
}

ul.verticalmenu {
	list-style-type: none;
	margin:0px;
	padding:0px;
}

ul.verticalmenu  li {
	display:inline-block;	
}

ul.verticalmenu  li a {
	display:inline-block;
	width:190px;
	height:40px;
	text-align:center;
	text-decoration:none;
	border: 1px outset #94ADAF;
	margin:1px;
	vertical-align: middle;
	line-height:36px;
	color:#ffffff;
	font-weight: bolder;
}
ul.verticalmenu  li a:hover {
	background-color:#94ADAF;
	border: 1px inset #849D9F;
	font-size:102%;
}

ul.horizontalmenu {
	list-style-type: none;
	margin:0px;
	padding:0px;
}

ul.horizontalmenu  li {
	display:inline-block;	
}

ul.horizontalmenu  li a {
	display:inline-block;
	width:190px;
	height:20px;
	text-align:center;
	text-decoration:none;
	border: 1px outset #94ADAF;
	margin:1px;
	vertical-align: middle;
	line-height:18px;
	color:#ffffff;
}
ul.horizontalmenu  li a:hover {
	background-color:#94ADAF;
	border: 1px inset #849D9F;
	font-size:102%;
}

h2 {
	text-align: center;
}

#content table {
	margin: auto;
}

table.results {
	/* ÏƒÏ…Î³Ï‡ÏŽÎ½ÎµÏ…ÏƒÎµ Î­Î½Ï‰ÏƒÎµ Ï„Î± borders */
	border-collapse: collapse;
	width: 500px;
	margin:auto;
	/* Î£ÎšÎ™Î‘ */
	-moz-box-shadow: 2px 2px 2px #333;
	-webkit-box-shadow: 2px 2px 2px #333;
	box-shadow: 2px 2px 2px #333;
}

table.results th, tr, td {
	/*	Î’Î¬Î»Îµ ÏƒÏ„Î± th, tr, td Ï„Î¿Ï… Ï€Î¯Î½Î±ÎºÎ± ÎºÎ»Î¬ÏƒÎ·Ï‚ 
		results border Ï€Î¬Ï‡Î¿Ï…Ï‚ 1, ÏƒÏ…Î¼Ï€Î±Î³Î­Ï‚ ÎºÎ±Î¹
		Ï‡ÏÏŽÎ¼Î± #888888 */ 
	border:1px solid #888888;
}
tr:nth-of-type(3n) { 
	background-color: #b2a9cf; 
}
tr:nth-of-type(3n+1) { 
	background-color:#A9C5CF; 
}
tr:nth-of-type(3n+2) { 
	background-color:#b2cfa9; 
}

th {
	background-color:#ffffff;
}

label {
	display:inline-block;
	width:170px;
	color:#000000;
}

fieldset {
	width: 400px;
	margin:auto;
	/* Î£ÎšÎ™Î‘ */
	-moz-box-shadow: 2px 2px 2px #333;
	-webkit-box-shadow: 2px 2px 2px #333;
	box-shadow: 2px 2px 2px #333;
}
#loginform fieldset {
width: 180px;
margin:auto;
/* ΣΚΙΑ */
-moz-box-shadow: 2px 2px 2px #333;
-webkit-box-shadow: 2px 2px 2px #333;
box-shadow: 2px 2px 2px #333;
}

#loginform fieldset  label{
width: 45%;
}
#loginform fieldset  input{
width: 45%;
}
input.inputnumber {
	width:40px;
}
input:required {
	background-color:lightyellow;
}
/*
input:required:invalid {
	background-color:red;
}
*/
input:focus {
	background-color:#f7eed5;
}