#myclock {
    font-size: 1.4em;
    font-weight: bold;
    color: blue;
}
#divimgs {
    display:flex;
    flex-direction:row;
    flex-wrap :wrap;
}
#divimgs div {
    width: 20%;
}
#divimgs div img {
    width: 100%;
    opacity: 0.6;
    display: block;
        
}
#divimgs div img:hover {
    width: 95%;
    margin:auto;
    opacity:1.0;
    cursor: pointer;
}
#targetimg {
    width: 80%;
    display: inline-block;
    margin:auto;
}
input [type="number"] {
    width: 50px;

}
span.errormsg {
    color: red;
    font-weight: bold;
}
#parentmovdiv {
   overflow: hidden;
   /*height: 150px;*/
}
#parentmovdiv2 {
   overflow: hidden;
   /*height: 150px;*/
}
#movdiv {
    position: relative;
    /*right:-40px;*/
    /*top: 105px;*/
    /*z-index: -100;*/
}
#movdiv2 {
    position: relative;
    /*right:-40px;*/
    /*top: 105px;*/
    /*z-index: -100;*/
}
#movdiv img {
    width: 50%;
    
   
}
#movdiv2 img {
    width: 50%;
    
}
#globalmovdiv {
    /*position: fixed;*/
    /*right:-40px;*/
    top: 0px;
    z-index: 100;
    /*width: 400px;*/
    background-color: white;
    padding: 10px;
}
#globalmovdiv img {

    float: left;
    width: 50%;
    padding: 5px;
}
#globalmovdiv2{
    /*position: fixed;*/
    /*right:-40px;*/
    top: 0px;
    z-index: 100;
    /*width: 400px;*/
    background-color: white;
    padding: 10px;
}
#globalmovdiv2 img {

    float: left;
    width: 50%;
    padding: 5px;
}