
table.tableA {
    border: 1px solid blue;
    border-collapse: collapse;
    background-color: rgb(200, 250, 200);
    width: 600px;
    margin: auto;
}

table.tableA tr td,  table.tableA tr th {
    border: 1px solid blue;
    border-collapse: collapse;
}

/*
table.tableA tr th {
    background-color: rgb(150, 250, 150);
}
*/

table.tableA caption {
    font-size: 1.5em;
    font-weight: bold;
    color: #5533ff;
    background-color: #aa88ff;
}
/*
table.tableA tr:nth-child(3n+1) {
    background-color: rgb(250, 150, 150);
}
table.tableA tr:nth-child(3n+2) {
    background-color: rgb(150, 250, 150);
}
table.tableA tr:nth-child(3n+3) {
    background-color: rgb(150, 150, 250);
}
*/

table.tableA tr:nth-child(2n+1) {
    background-color: rgb(250, 150, 150);
}
table.tableA tr:nth-child(2n+2) {
    background-color: rgb(150, 250, 150);
}


table.tableA td:nth-child(3) {
    text-align: center;
}

table.tableA td:nth-child(2) {
    width:70px;
}


table.t5 {
    width:50%;
    margin: auto;
    box-shadow: 8px 4px 10px #999999;
    
}

table.t5 tr:nth-child(odd) {
    background-color: #B0DEF0;
}
table.t5 tr:nth-child(even) {
    background-color: #8EB0BD;
}

table.t5 td:nth-child(4n+2), table.t5 td:nth-child(4n+3), table.t5 td:nth-child(4n) {
    text-align: center;
    width:20%;
}

table.t5 caption {
    font-size: 1.5em;
    font-weight: bold;
    background-color: #1C6582;
    color: #ffffff;
}