#divimgs {
display:flex;
flex-direction:row;
flex-wrap:wrap;
justify-content:center;
}

#divimgs img {
transition: transform 0.2s;
}

#divimgs img:hover {
transform: scale(0.85);
}

#carpreview {
display:flex;
justify-content:center;
}